body{
    background-color: rgb(218, 200, 175); 
    font: normal 15pt Courier; 
    text-align: center;
}  

header{
    color: black;
}


section{
 background: white; 
 border-radius: 10px;  
 padding: 15px;  
 width: 500px; 
 margin: auto; 
 box-shadow: 4px 4px 5px rgb(175, 171, 126); 
 text-align: left;
} 


footer{
    color: black; 
    text-align: center; 
    font-style: italic;
}